/* 
░██╗░░░░░░░██╗░█████╗░██╗░░░██╗██████╗░░█████╗░██████╗░  ░█████╗░░██████╗░██████╗
░██║░░██╗░░██║██╔══██╗╚██╗░██╔╝██╔══██╗██╔══██╗██╔══██╗  ██╔══██╗██╔════╝██╔════╝
░╚██╗████╗██╔╝███████║░╚████╔╝░██████╦╝███████║██████╔╝  ██║░░╚═╝╚█████╗░╚█████╗░
░░████╔═████║░██╔══██║░░╚██╔╝░░██╔══██╗██╔══██║██╔══██╗  ██║░░██╗░╚═══██╗░╚═══██╗
░░╚██╔╝░╚██╔╝░██║░░██║░░░██║░░░██████╦╝██║░░██║██║░░██║  ╚█████╔╝██████╔╝██████╔╝
░░░╚═╝░░░╚═╝░░╚═╝░░╚═╝░░░╚═╝░░░╚═════╝░╚═╝░░╚═╝╚═╝░░╚═╝  ░╚════╝░╚═════╝░╚═════╝░

by Arkinux-Code
*/

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: "JetBrains Mono Nerd Font", "Roboto-Mono", Helvetica, Arial, sans-serif;
    font-size: 14px;
}


window#waybar {
    background-color: transparent;
    border-bottom: transparent;
    color: #ffffff;
    transition-property: background-color;
    transition-duration: .5s;
}

button {
    border: none;
    border-radius: 0;
}

#custom-arch {
    padding: 1px 10px 0px 6px;
    margin: 3px 10px 3px 10px;
    border-radius: 15px;
    border: 3px solid #8aadf4;
    background-color: #24273a;
    font-size: 18px;
}

#workspaces {
    background-color: #24273a;
    border-radius: 15px;
    margin: 5px 5px 5px 5px;
    padding: 6px 6px;
}

#workspaces button {
    padding: 0px 6px;
    margin: 0px 3px;
    opacity: 0.4;
    background-color: #8aadf4;
    border-radius: 100px;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
    font-size: 13px;
}

#workspaces button.active {
    background-size: 400% 400%;
    min-width: 50px;
    opacity: 1;
    background-color: #8aadf4;
    border-radius: 100px;
    color: #ffffff;
}

#workspaces button.active:hover {
    background-size: 200% 200%;
    min-width: 30px;
    background-color: #8aadf4;
    border-radius: 100px;
    color: #ffffff;
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#disk, #memory, #cpu {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

#memory {
    margin-right: 10px;
}

#window {
    padding: 2px 10px 0px 10px;
    margin: 3px 15px 3px 0px;
    border-radius: 15px;
    font-size: 13px;
    border: 3px solid #8aadf4;
    background-color: #24273a;
    transition: all 0.3s ease-in-out;
}

window#waybar.empty #window {
    background-color:transparent;
    border: none;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    margin-right: 10px;
    background-color: #24273a;
    border-radius: 15px;
    border: 3px solid #8aadf4;
    padding: 1px 10px 0px 10px;
    margin: 3px 15px 3px 0px;
}

#battery {
    background-color: #24273a;
    border: 3px solid #8aadf4;
    color: #ffffff;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    background-color: #a6da95;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #181926;
    }
}

#battery.critical:not(.charging) {
    background-color: #ed8796;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#custom-labelapps {
    margin: 3px 15px 3px 10px;
    padding: 2px 10px 0px 10px;
    border: 3px solid #8aadf4;
    border-radius: 15px;
    background-color: #24273a;
}

#cpu {
    background-color: transparent;
    color: #ffffff;
}

#memory {
    background-color: transparent;
}

#disk {
    background-color: transparent;
}

#backlight {
    background-color: #90b1b1;
}

#network {
    background-color: #24273a;
    border-radius: 15px;
    padding: 2px 10px 0px 10px;
    margin: 3px 15px 3px 0px;
    border: 3px solid #8aadf4;
}

#network.disconnected {
    background-color: #ed8796;
}

#pulseaudio {
    background-color: #8aadf4;
    color: #000000;
    font-size: 16px;
    border-radius: 12px;
    padding: 2px 10px 0px 10px;
    margin: 5px 15px 5px 0px;
}

#pulseaudio.muted {
    background-color: #494d64;
    color: #ffffff;
}

#wireplumber {
    background-color: #fff0f5;
    color: #000000;
}

#wireplumber.muted {
    background-color: #ed8796;
}

#tray {
    border: 3px solid #8aadf4;
    padding: 2px 10px 0px 10px;
    margin: 5px 15px 5px 0px;
    border-radius: 15px;
    background-color: #24273a;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #ed8796;
}
